.headerBtn{
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.headerBtn:hover{
    color:wheat;
    transition: 0.7s
}
.addBtn{
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    font-weight: bold;
    height: 2rem;
    margin: 10px;
    cursor: pointer;
}